.ipynb_checkpoints/
__pycache__/
apex/
selected/
llama3/
Meta-Llama-3-8B-Instruct/
output/
Qwen2VL/
3mdvenv/
**/CC3M/*
**/VISUAL_GENOME/*
**/MSCOCO/*
!**/MSCOCO/generated/
!**/CC3M/generated/
!**/VISUAL_GENOME/generated/
cache/
logs/
