.ipynb_checkpoints/
__pycache__/

selected/
llama3/
Meta-Llama-3-8B-Instruct/
output/
Qwen2VL/
PLLaVA/
LLaVA_NeXT/
OpenSora1_2/

**/CC3M/*
**/VISUAL_GENOME/*
**/MSCOCO/*
!**/MSCOCO/generated/
!**/CC3M/generated/
!**/VISUAL_GENOME/generated/
**/MSR-VTT/*
!**/MSR-VTT/generated/
**/CelebV-Text/*
!**/CelebV-Text/generated/

cache/
logs/
